<%- include('header') %>
	<div class="container"><div class="table2">	
	<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
			      <h2 class="text-center mb-3"><i class="fa fa-plus"></i></a><b>Add New Password Category</h2>
			 <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert text-danger alert-dismissible fade show" role="alert">
            <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
        </div>
        <% }); %>
            <% } %>
			 <% if(success_msg !='') { %>
			 		 <div class="alert text-success alert-dismissible fade show" role="alert">
                        <%= success_msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                    </div>
                    <% } %>
            <form action="/add-new-password" method="POST" id="passwordform">
                <div class="form-group">
                    <label for="name">password Details :</label>
					<select class="form-control" name="pass_cat">
						<option value="">Choose Password Category</option>
						<% if(records.length >0){ records.forEach(function(row){ %>
						<option value="<%= row.password_category %>"><%= row.password_category %></option>
						<% })} %>
					</select>
                </div>
				<div class="form-group">
                    <label for="name">Projecct Name :</label>
					<input type="textbox"  class="form-control" name="project_name"  placeholder="Enter Your Project Name Details" />
                </div>
				 <div class="form-group">
                    <label for="name">password Details :</label>
					<textarea  class="form-control" id="editor1" name="pass_details" rows="5" placeholder="Enter Your Password Details"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-block"><b>Add Password</b></button>
                </form>
                <p class="lead mt-4"><a href="/view-all-password">View All Password List</a></p>
        </div>
    </div></div><br><br><br>
		<script>
            CKEDITOR.replace( 'editor1' );
    	</script>
<%- include('footer') %>